path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-weight: bold;
    text-anchor: middle;
    font-family: Arial;
}

.grid line {
    stroke:#000;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
  
.grid path {
    stroke-width: 0;
}
  

text { font: 12px Arial; font-weight:bold}